/* ========================================
   EDGEBREAK FOOTER
======================================== */

.eb-footer{

    width:100%;

    background:#071225;

    border-top:1px solid #1f2d4d;

    padding:50px;

    color:white;

    text-align:center;

    margin-top:80px;

}